{% extends 'base.html.twig' %}
{% trans_default_domain 'message' %}

{% block body %}
    {% for phrase in phrases %}
        <div class="row card">
            <div class="card-body">
                <a href="{{ url('homepage') ~ 'translate/' ~ phrase.getId() }}">{{ phrase.translate('ru').getPhrase() }}</a>
            </div>
        </div>
    {% else %}
        <div class="row card">
            <div class="card-body">
                <h2>{{ 'phrases.none' | trans }}</h2>
            </div>
        </div>
    {% endfor %}

    {% if app.getUser() %}
        {% include('@App/includes/form.html.twig') %}
    {% endif %}
{% endblock %}