{% extends 'base.html.twig' %}
{% trans_default_domain 'message' %}

{% block body %}
    <div class="row card">
        <div class="card-title">
            <h3>{{ phrase.translate('ru').getPhrase() }}</h3>
        </div>
        <div class="card-body" id="form">
            <form action="{{ url('translate_phrase') }}" id="form_trans" method="post">
                <input type="text" name="phrase_id" value="{{ phrase.getId() }}" hidden>
                
                <label class="form-control-label required" for="sr_lang">{{ 'lang.sr' | trans }}</label>
                {{ phrase.translate('sr').getPhrase() }}
                {% if phrase.translate('sr').getPhrase() %}
                    <input class="form-control" type="text" id="sr_lang" name="sr_lang" disabled
                           value="{{ phrase.translate('sr').getPhrase() }}">
                {% else %}
                    <input class="form-control" type="text" id="sr_lang" name="sr_lang">
                {% endif %}

                <label class="form-control-label required" for="cs_lang">{{ 'lang.cs' | trans }}</label>
                {% if phrase.translate('cs').getPhrase() %}
                    <input class="form-control" type="text" id="cs_lang" name="cs_lang" disabled
                           value="{{ phrase.translate('cs').getPhrase() }}">
                {% else %}
                    <input class="form-control" type="text" id="cs_lang" name="cs_lang">
                {% endif %}

                <label class="form-control-label required" for="pl_lang">{{ 'lang.pl' | trans }}</label>
                {% if phrase.translate('pl').getPhrase() %}
                    <input class="form-control" type="text" id="pl_lang" name="pl_lang" disabled
                           value="{{ phrase.translate('pl').getPhrase() }}">
                {% else %}
                    <input class="form-control" type="text" id="pl_lang" name="pl_lang">
                {% endif %}

                <label class="form-control-label required" for="da_lang">{{ 'lang.da' | trans }}</label>
                {% if phrase.translate('da').getPhrase() %}
                    <input class="form-control" type="text" id="da_lang" name="da_lang" disabled
                           value="{{ phrase.translate('da').getPhrase() }}">
                {% else %}
                    <input class="form-control" type="text" id="da_lang" name="da_lang">
                {% endif %}

                <label class="form-control-label required" for="hy_lang">{{ 'lang.hy' | trans }}</label>
                {% if phrase.translate('hy').getPhrase() %}
                    <input class="form-control" type="text" id="hy_lang" name="hy_lang" disabled
                           value="{{ phrase.translate('hy').getPhrase() }}">
                {% else %}
                    <input class="form-control" type="text" id="hy_lang" name="hy_lang">
                {% endif %}

                <br>

                <input class="btn btn-success" id="submit_trans" type="submit"
                       value="{{ 'phrases.phrase.trans' | trans }}">

            </form>
        </div>
    </div>

    {#<script>#}
        {#$(function () {#}
            {#$('#form_trans').submit(function () {#}
                {#let form = $(this);#}
                {#$.ajax({#}
                    {#type: form.attr('method'),#}
                    {#url: form.attr('action'),#}
                    {#data: form.serialize()#}
                {#}).done(function () {#}
                    {#window.location.replace($('body').data('root-url'));#}
                {#})#}

            {#});#}
        {#});#}
    {#</script>#}
{% endblock %}

